.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p{
    color:black;
    font-size: 38px;
    font-weight: 600;
}
.nav-profile{
    width: 75px;
}
@media(max-width:800px){
    .navbar{
        padding:15px 30px;

    }
    .nav-logo img{
        width: 40px;
    }
    .nav-logo p{
        font-size: 25px;

    }
    .nav-profile{
        width: 60px;
    }
}
